.footer {
  position: fixed;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  height: 90px;
  width: 100%;
  background: #040404;
}

.songDetails {
  display: flex;
  align-items: center;
  color: white;
  width: 300px;
  flex: 0.1;
}

.songInfo > h4 {
  margin-bottom: 5px;
}

.songInfo > p {
  font-size: 12px;
}

.albumArt {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: contain;
}

.player:hover {
  color: #1db954;
  transition: transform 0.2s ease-in-out;
  transform: scale(1.3) !important;
}

.playerControl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  flex: 0.6;
  color: white;
}

.volumeControl {
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
  color: white;
  cursor: pointer;
}

.volumeControl * .MuiSlider-root {
  color: chartreuse;
}

input[type='range'] {
  height: 5px;
  -webkit-appearance: none;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}

.progress {
  width: 100%;
  margin-bottom: 15px;
}

.audioControl {
  display: flex;
  align-items: center;
  cursor: pointer;

  width: 100%;
}
